* {
    font-family: Montserrat, sans-serif
}

p {
    position: absolute
}

img {
    width: 540px;
    height: 540px;
    background-size: 540px 540px;
    position: absolute
}

.image-generator-container {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.image-container {
    width: 540px;
    height: 540px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden
}

.hidden-text {
    display: none
}

.imagePreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px
}

.imagePreview img {
    width: 100%;
    height: auto;
    margin: 5px;
    object-fit: cover
}

.imageContainer {
    width: 100%;
    height: auto;
    position: absolute
}

.index-buttons {
    display: flex
}

.index-buttons button {
    width: 35px !important;
    height: 35px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff414d;
    border: none
}

.edit-button {
    position: absolute;
    top: -5px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1
}

.edit-button svg path {
    fill: #136ffa
}

.close-button {
    position: absolute;
    top: -6px;
    right: -5px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #ff414d
}

.close-button svg path {
    width: 25px;
    height: auto;
    fill: #fff
}

.lock-button {
    position: absolute;
    top: -6px;
    left: 38px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #343a40
}

.lock-button svg path {
    width: 15px;
    height: auto;
    fill: #fff
}

.nameInput {
    font-size: 38px;
    font-weight: 700;
    color: #042f45;
    width: 224px;
    top: 92px;
    left: 5px;
    text-align: center;
    text-transform: uppercase
}

.nameInput:focus {
    outline: 0
}

.dropzone {
    width: 130px;
    height: 650px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: center;
    cursor: pointer;
    position: relative
}

.dropzone.highlight {
    border-color: #007bff
}

.imageUploaderBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -15px;
    right: -15px
}

.resizable-image {
    width: 100%;
    height: auto;
    display: block;
    cursor: -webkit-grab;
    cursor: grab
}

.resizable-image:active {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

#image-block {
    position: absolute;
    width: 300px;
    height: 300px
}

.downloadButton {
    width: 250px !important;
    height: 50px;
    border-radius: 15px !important
}

input[type=text],
textarea {
    border-radius: 15px !important;
    opacity: .8
}

.btn-check:checked+.btn {
    border-color: #ff414d !important;
    background-color: #ff414d !important
}

button[type=submit] {
    background: #ff414d;
    border-radius: 50px;
    -webkit-box-shadow: #ff414d 0 10px 20px -10px;
    box-shadow: #ff414d 0 10px 20px -10px;
    font-family: Montserrat, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 0
}

button[type=submit]:hover {
    background: #b12b34
}

.image-size {
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 2rem .75rem .75rem 1rem;
    cursor: grab
}

.image-size.dragging {
    opacity: .6
}

.image-size.dragging :where(.image-size>*) {
    opacity: 0
}

.image-size:hover {
    cursor: grabbing
}

.image-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 9px;
    text-transform: uppercase;
    transform: translateX(-50%)
}

.imageName {
    display: inline-block;
    max-width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    top: 5px;
    left: 5px
}

.resizable-container-collection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 25px
}

::-webkit-scrollbar {
    display: none
}

.decreaseSizeBtn,
.increaseSizeBtn {
    width: 20px !important;
    height: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px !important
}

path {
    fill: #fff
}

.copy1-container {
    width: 100%;
    position: absolute;
    top: 48px;
    display: flex;
    justify-content: center
}

.copy1 {
    font-weight: 600;
    font-size: 21px;
    color: #042f45;
    letter-spacing: -.6px;
    position: relative;
    top: 23px
}

.copy2-container {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 141px;
    left: 0;
    display: flex;
    justify-content: center
}

.copy2 {
    font-size: 21px;
    font-weight: 600;
    color: #e02c4a;
    text-align: center;
    width: 100%
}

.copies-container {
    width: 235px;
    height: 100%;
    position: absolute;
    right: 0
}

.headline {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center
}

.bottom {
    width: 100%;
    position: absolute;
    top: 355px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.custom-btn {
    width: 200px;
    height: 29px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#19a4b6), to(#2cd9ef));
    background-image: -o-linear-gradient(bottom, #19a4b6, #2cd9ef);
    background-image: linear-gradient(360deg, #19a4b6, #2cd9ef);
    border: none;
    border-radius: 36px;
    opacity: 1;
    display: flex;
    justify-content: center;
    position: relative;
    left: 13px
}

.custom-btn-text {
    font-weight: 600;
    font-size: 16px;
    color: #fff
}

.footnote-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 26px;
    left: 22px
}

.footnote {
    color: #042f45;
    font-weight: 800;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px
}

.template-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

.template-image {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
    border: 1px solid #cecece;
    cursor: pointer
}

.template-image img {
    width: 80px;
    height: 80px
}

.template-image:hover {
    background: #cecece
}

.headline-img {
    position: absolute;
    top: -210px;
    left: -305px
}

.headline-text {
    font-size: 21px;
    font-weight: 600;
    color: #e02c4a;
    word-break: break-word;
    padding: 5px 20px 0 20px;
    overflow: hidden;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center
}

.headline-text:focus {
    outline: 0
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block
}

.footnote span {
    color: #e02c4a;
    font-size: 30px
}

.ofcourse {
    position: relative;
    top: -15px;
    color: #042f45;
    font-weight: 800;
    font-size: 15px
}

#fix-small {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%
}

.textArea-NameAndJob {
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 6px !important;
    padding: 5px;
    font-size: 14px
}

.NameJob {
    font-size: 12px;
    color: #fff;
    position: absolute;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    margin: 0;
    background-color: rgba(0, 0, 0, .7);
    text-align: center
}

@media (max-width: 575.98px) {
    .dropzone {
        display: none;
    }

    .form-check-label {
        font-size: 12px;
    }

    .image-generator-container {
        margin-top: 1rem;
    }

    .image-container {
        width: 270px;
        height: 270px;
    }

    .imagePreview {
        width: 170px;
        height: 270px;
        margin: 0px;
    }

    img {
        width: 270px;
        height: 270px;
        background-size: 270px 270px;
        position: absolute;
        object-fit: cover;
    }

    .copies-container {
        width: 117.5px;
    }

    .copy1-container {
        top: 24px;
    }

    .copy1 {
        font-size: 10.5px;
        top: 11.5px;
    }

    .nameInput {
        font-size: 19px;
        top: 46px;
        left: 2.5px;
        width: 112px;
    }

    .copy2-container {
        top: 70.5px;
        height: 15px;
    }

    .copy2 {
        font-size: 10.5px;
    }

    .headline {
        height: 75px;
        top: 90px;
    }

    .headline-text {
        font-size: 10.5px;
        padding: 2.5px 10px 0 10px;
        line-height: 14px;
    }

    .bottom {
        top: 177.5px;
    }

    .custom-btn {
        width: 100px;
        height: 14.5px;
        left: 6.5px;
        border-radius: 18px;
    }

    .custom-btn-text {
        font-size: 8px;
    }

    .footnote-container {
        top: 13px;
        left: 11px;
    }

    .ofcourse {
        top: -7.5px;
        font-size: 7.5px;
    }

    .footnote {
        font-size: 9px;
        gap: 2.5px;
    }

    .footnote span {
        font-size: 15px;
    }

    a {
        font-size: 8px;
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}