/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    font-family: Montserrat, sans-serif;
}

p {
    position: absolute;
}

img {
    width: 540px;
    height: 540px;
    background-size: 540px 540px;
    position: absolute;
}

.guide {
    pointer-events: none;
    width: 540px;
    height: 540px;
    position: absolute;
    opacity: 0.5;
    background-size: 540px 540px;
}

.image-container {
    width: 540px;
    height: 540px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    /* pointer-events: none; */
}

.image-profile-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 540px;
    overflow: hidden;
}

.nickname {
    /* height: 100px; */
    font-size: 38px;
    font-weight: 700;
    color: #042f45;
    width: 195px;
    top: 92px;
    left: 322px;
    text-align: center;
}

.nickname2 {
    font-size: 47px;
    font-weight: 800;
    color: #e02c4a;
    top: 270px;
    left: 313px;
    width: 214px;
    height: auto;
    text-align: center;
}

.nickname3 {
    font-size: 11px;
    font-weight: 800;
    color: #ffffff;
    top: 480px;
    left: 25px;
}

.position {
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
    top: 495px;
    left: 25px;
    width: 250px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.textarea-position {
    height: 85px !important;
    resize: none;
}

.position-container {
    position: absolute;

    width: 200px;
    height: 20px;

}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: center;
    cursor: pointer;
}

.dropzone.highlight {
    border-color: #007bff;
}

.preview-container {
    width: 100%;
    height: 600px;
}

.preview {
    width: 540px;
    height: 540px;
    max-width: 540px;
    max-height: 540px;
    margin-top: 20px;
}

.img-fluid {
    max-width: 200% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.resizable-image {
    width: 100%;
    height: auto;
    display: block;
    cursor: -webkit-grab;
    cursor: grab;
}

.resizable-image:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#image-block {
    position: absolute;
    width: 300px;
    height: 300px;
}

.downloadButton {
    width: 250px !important;
    height: 50px;
    border-radius: 15px !important;
}


input[type=text],
textarea,
select {
    border-radius: 15px !important;
    opacity: 0.8;
}

.form-select {
    padding: 1rem 0.75rem !important;
}


.btn-outline-secondary {
    font-weight: 600 !important;
    border-radius: 50px !important;
    border-color: #0000002f;
    font-size: 14px;
}

.btn-check:checked+.btn {
    border-color: #ff414d !important;
    background-color: #ff414d !important;
}

button[type="submit"] {
    background: #ff414d;
    border-radius: 50px;
    -webkit-box-shadow: #ff414d 0 10px 20px -10px;
    box-shadow: #ff414d 0 10px 20px -10px;
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 0;
}

button[type="submit"]:hover {
    background: #b12b34;
}

.image-size {
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 1rem 0.75rem;
}

#decreaseSizeBtn,
#increaseSizeBtn {
    width: 35px !important;
    height: 35px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

path {
    fill: white;
}

.copy1-container {
    width: 100%;
    position: absolute;
    top: 48px;
    display: flex;
    justify-content: center;
}

.copy1 {
    font-weight: 600;
    font-size: 21px;
    color: #042f45;
    letter-spacing: -0.6px;
    position: relative;
    top: 23px;
}

.copy2-container {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 141px;
    left: 0;
    display: flex;
    justify-content: center;
}

.copy2 {
    font-size: 21px;
    font-weight: 600;
    color: #e02c4a;
    text-align: center;
    width: 100%;
}

.copies-container {
    width: 235px;
    height: 100%;
    /* background-color: green; */
    position: absolute;
    right: 0;
}

.logo-text{
    font-size: 21px;
    font-weight: 600;
    color: #e02c4a;
    text-align: center;
    width: 100%;
}

.logo-container {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 173px;
    display: flex;
    justify-content: center;
}

.wideoutlogo {
    width: 192.5px;
    height: 22px;
}

.headline {
    width: 100%;
    height: 150px;
    /* background-color: green; */
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3px;
}

.divider {
    width: 192.5px;
    height: 11px;
}

.ten-xing-container {
    position: absolute;
    width: 100%;
    top: 12px;
    display: flex;
    justify-content: center;
}

.ten-xing {
    font-size: 47.5px;
    font-weight: 800;
    color: #e02c4a;
    /* position: absolute;
    top: 12px;
    left: 33px; */
    letter-spacing: -1px;
}

.today-container {
    width: 100%;
    height: 24px;
    position: absolute;
    top: 133px;
    display: flex;
    justify-content: center;

}

.today {
    font-size: 15px;
    font-weight: 800;
    color: #19a4b6;
}

.bottom {
    width: 100%;
    position: absolute;
    top: 355px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.custom-btn {
    width: 200px;
    height: 29px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#19a4b6), to(#2cd9ef));
    background-image: -o-linear-gradient(bottom, #19a4b6, #2cd9ef);
    background-image: linear-gradient(360deg, #19a4b6, #2cd9ef);
    border: none;
    /* position: absolute;
    left: 25px;
    top: 355px; */
    border-radius: 36px;
    opacity: 1;
    display: flex;
    justify-content: center;
    position: relative;
    left: 13px;
}

.custom-btn-text {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.footnote-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 26px;
    left: 22px;
}

.footnote {
    color: #042f45;
    font-weight: 800;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.template-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.template-image {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #cecece;
    cursor: pointer;
}

.template-image img {
    width: 80px;
    height: 80px;
}

.template-image:hover {
    background: #cecece;
}

.headline-img {
    position: absolute;
    top: -210px;
    left: -305px;
}

.tenX {
    font-size: 1rem;
}

.lowercase {
    text-transform: lowercase;
}

.headlineInput {
    height: 140px !important;
    resize: none;
}

.footnote span{
    color: #e02c4a;
    font-size: 30px;
}

.ofcourse{
    position: relative;
    top: -15px;
    color: #042f45;
    font-weight: 800;
    font-size: 15px;
}

#fix-small{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 572px) {
    #image-generator-container {
      display: none !important; 
    }
    #fix-small{
        display: block;
    }
  }